{% if PHP_XDEBUG is defined and PHP_XDEBUG == "true" %}
; Enable xdebug extension module
zend_extension=xdebug.so

; see http://xdebug.org/docs/all_settings
xdebug.remote_enable = 1
xdebug.remote_port = {{ PHP_XDEBUG_REMOTE_PORT | default('9004') }}
xdebug.remote_host = {{ PHP_XDEBUG_REMOTE_HOST | default('127.0.0.1') }}
xdebug.idekey = PHPSTORM
xdebug.remote_log = /tmp/xdebug.log
xdebug.max_nesting_level = 999999
xdebug.remote_autostart = 1
xdebug.show_local_vars = 1
{% endif %}